main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(10% / 3);
    width: 80%;
    margin: auto;

    @media screen and (max-width: 992px) {
        width: 90%;

        .todo-card {
            width: 100% !important;
        }
    }

    h1 {
        color: #bdbdbd;
        user-select: none;
    }

    .todo-card {
        width: 30%;
        background: rgb(250, 250, 250);
        box-shadow: 0px 0px 30px #dadada;
        padding: 40px;
        border-radius: 20px;
        transition: 300ms;
        margin-bottom: 20px;
        color: $lightModeFontColor;
        position: relative;

        h3 {
            text-align: center;
            margin-bottom: 30px;
        }

        .remove-card {
            position: absolute;
            top: 5px;
            right: 5px;
            
            &:hover {
                svg {
                    fill: $accentColor;
                }
            }

            svg {    
                width: 20px;
                fill: $lightModeFontColor;
                transition: 200ms;
            } 
        }

        @media screen and (max-width:992px) {
            width: 90%;
        }

        @import "./form";
        @import "./todo-list";
    }
}