main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(10% / 3);
    width: 80%;
    margin: auto;

    @media screen and (max-width: 992px) {
        width: 90%;

        .todo-card {
            width: 100% !important;
        }
    }

    h1 {
        color: #bdbdbd;
        user-select: none;
    }

    @import "./todo-card";
}