header {
    padding-top: 10px;
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    svg {
        width: 16px;
        fill: #fff;
    }

    &>button:last-child {
        margin-right: 10px;
    }

    .toggle-new-todo-card-form {
        background: $accentColor;
        color: $darkModeFontColor;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: $accentColor;
        }

        svg {
            width: 20px;
        }
    }

    .new-todo-card-form {
        display: flex;
        align-items: center;
        gap: 20px;
        color: $lightModeFontColor;

        label {
            font-size: 18px;
        }

        button {
            display: flex;
            align-items: center;
            background: $accentColor;
            color: $darkModeFontColor;

            &:hover {
                background: $accentColor;
                color: $darkModeFontColor;
            }

            p {
                margin: 0;
                margin-right: 5px;
            }
        }
    }
}