header {
    padding-top: 10px;
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    svg {
        width: 16px;
        fill: #fff;
    }

    &>button:last-child {
        margin-right: 10px;
    }

    .new-todo-card-form {
        display: flex;
        align-items: center;
        gap: 20px;
        color: #fff;

        label {
            font-size: 18px;
        }

        button {
            display: flex;
            align-items: center;

            p {
                margin: 0;
                margin-right: 5px;
            }
        }
    }
}