&.dark {
    background: #343434;

    header form {
        color: $darkModeFontColor;
    }

    main {
        .todo-card {
            background: #222;
            color: $darkModeFontColor !important;
            box-shadow: none;

            .remove-card {
                svg {
                    fill: $darkModeFontColor;
                }
            }

            .edit-name svg {
                fill: $darkModeFontColor !important;
            }

            .todo-list-item {
                .checkbox {
                    border: 1px solid $darkModeFontColor !important;

                    &::after {
                        left: 2px;
                        top: -6px !important;
                    }
                }

                p::after {
                    background: $darkModeFontColor;
                }

                button svg {
                    fill: $darkModeFontColor;
                }
            }
        }
    }
}