$accentColor: crimson;
$lightModeFontColor: #222;
$darkModeFontColor: #ececec;

body {
    min-height: 100vh;
}

.app {
    background: #e7e7e7;
    min-height: 100vh;
    transition: 300ms;

    @import "./dark-mode";
}

@import "./header/header";
@import "./main/main";